
<div class="jumbtron">
    <h1 class="display-4 text-center">
Employee Register

    </h1>
    <hr>
<div class="row" style="text-align:center">
    <!-- <div class="col-md-5">
        <app-employee></app-employee>       
    </div> -->
    <div class="col-md-7" style="text-align:center">
        <app-employee-list></app-employee-list>
    </div>
    <a routerLink="['/app-employee']">
        <button class="btn btn-success"> Submit </button>
    </a>
    <div>
        <button (click)='redirect()' >Go To Bar</button>
     </div>
</div>
</div>